body,button,input,select,textarea{font-family:"Baloo Tamma 2", sans-serif;}

::-webkit-scrollbar{
    width: 15px;
    padding-top: 40px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 0px rgba(0,0,0,0);
    border: 0px solid black;
    background: #131313ff;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

::-webkit-scrollbar-thumb{
    border-radius:4px;
    height: 30px;
    width: 8px;
    border: 0px solid black;
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
    background-color: #DD0C3D;
}

::-webkit-scrollbar-track-piece {
    height: 30px;
}

html, body{
  overflow-x: none;
}



/* background */

.background{
position: absolute;
width: 1025px;
height: 1192px;
background: #131313;
}



/* logo */

.logo{
top: 80px;
left: 270px;
position: absolute;
}



/* Logo text */

.logotext{
position: absolute;
font-family: Baloo Tamma 2;
font-style: normal;
font-weight: normal;
font-size: 34.7144px;
line-height: 60px;
color: #DD0C3D;
text-shadow: 0px 0px 10.5617px rgba(0, 0, 0, 0.25);
}



/* Title */

.title{
position: absolute;
top:340px;
left: 446px;
font-family: Baloo Tamma 2;
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 62px;
color: #DD0C3D;
text-shadow: 0px 0px 10.5617px rgba(0, 0, 0, 0.25);
}



/* main desc */

.maindesc{
position: absolute;
top: 380px;
left: 360px;
font-family: Baloo Tamma 2;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 45px;
color: #C3C3C3;
}



/* Media */

.media{
position: absolute;
top:510px;
left: 467px;
font-family: Baloo Tamma 2;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 31px;
color: #434343;
text-decoration: none;
cursor: "cursor.png";
}

.media:hover{
text-decoration: underline;
}



/* Buttons */

.button{
position: absolute;
width: 160px;
height: 45px;
cursor: "cursor.png";
font-family: Baloo Tamma 2;
font-style: normal;
font-weight: 600;
font-size: 22px;
text-align: center;
line-height: 40px;
color: #DD0C3D;
text-shadow: 0px 0px 6.99371px rgba(0, 0, 0, 0.25);
border-radius: 15px;
text-decoration: none;
padding-top: 9px;
overflow: hidden;
transition: .5s;
}

.button:hover {
cursor: "cursor.png";
background: #38121B;
box-shadow: 0px 0px 0px 3px #DD0C3D;
transition: .4s;
}



/* Button 1 */

.button1{
top: 450px;
left: 320px;
background: #131313;
}



/* Button 2 */

.button2{
top: 450px;
left: 500px;
background: #131313;
}



/* gui */

.gui{
position: absolute;
top: 240px;
left: 1050px;
transform: rotate(0.5deg);
transform: scale(2, 02);
-ms-transform: scale(2, 2);
-webkit-transform: scale(1.15, 1.15);
}



/* Icons */

.icon{
position: absolute;
}

.icon1{
top: 110vh;
left: 65vh;
}

.icon2{
top: 110vh;
left: 95vh;
}

.icon3{
top: 110vh;
left: 125vh;
}



/* desc1 */

desc{
position: absolute;
font-family: Baloo Tamma 2;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 41px;
text-align: center;
color: #C3C3C3;
text-shadow: 0px 0px 10.5617px rgba(0, 0, 0, 0.25);
transition: .5s;
}

desc:hover{
color:#DD0C3D;
transition: .5s;
}

.desc1{
margin-top: 118vh;
left: 61vh;
text-align: center;
}

.desc2{
margin-top: 118vh;
left: 90.4vh;
text-align: center;
}

.desc3{
margin-top: 118vh;
left: 119.7vh;
text-align: center;
}



/* Slideshow container */
.slideshow-container {
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
margin-top: 79%;
}

.nodrag{
user-zoom: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





.main-container {
min-height: 100vh; /* will cover the 100% of viewport */
overflow: hidden;
display: block;
position: relative;
padding-bottom: 100px; /* height of your footer */
}

footer {
position: absolute;
left: 43%;
color:#DD0C3D;
bottom: 10px;
width: 100%;
}

.footertext{
color:#DD0C3D;
text-decoration:none;
}

.footertext:hover{
text-decoration:underline;
color:white;
}